@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>ExpressoO Hub</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">ExpressoO Hub</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="testimonial_item" style="background-color: #31ad93">
            <p>Collaboration Done Well</p>
        </div>
        <p class="custom_font">
            ExpressoO founders, we knew we had met a talented team. We quickly became invested in developing their innovative idea, and we’re glad we decided to back them up.
        </p>
    </div>
</section>