@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>Machinoo</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">Blog right sidebar</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="testimonial_item" style="background-color: #31ad93">
            <p>Mutual Vision</p>
        </div>
        <p class="custom_font">
            MachinoO is one of leading lifestyle trend which is more futuristic, we are taking it to its extreme level.
        </p>
    </div>
</section>