@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>Digital Marketing</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">Digital Marketing</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span7">
                <aside>
                    <div class="widget">
                        <div class="testimonial_item" style="background-color: #31ad93">
                            <p>Every business want to be on top 3 but <b>ExpressoO Labs</b> knows how to do growth hacking for you as much we can.</p>
                        </div>
                        <p class="custom_font">
                            <b>ExpressoO Labs</b>, as one of the <b>best digital marketing companies in Hyderabad </b>, we incorporate advanced digital marketing techniques which not just improve your online visibility but maintain your online reputation for years to come.
                            Our digital marketing strategies aimed at engaging customers and driving heavy traffic to your sites organically, thereby increasing your ROI.
                        </p>
                        <p class="custom_font">
                            We provide the best <b>SEO (Search Engine Optimization) services in Hyderabad</b> along with other services like <b>SMO(Social Media Optimization), SEM(Search Engine Marketing)/Google Adwords, SMM(Social Media Marketing), YouTube Advertising, Email Marketing</b> etc.
                            We go beyond boundaries to think of a consumer’s point of view how they look and approach for services and products online.
                            We then merge this analysis with our improved <b>digital marketing strategies</b> to provide you with the best results and hence we always focus to achieve the badge as the <b>best digital marketing company in Hyderabad</b>.
                        </p>
                    </div>
                    <div class="widget">
                        <h4>Social network</h4>
                        <ul class="social-links">
                            <li><a href="#" title="Twitter"><i class="icon-bg-light icon-twitter icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Facebook"><i class="icon-bg-light icon-facebook icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Google plus"><i class="icon-bg-light icon-google-plus icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="icon-bg-light icon-linkedin icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Pinterest"><i class="icon-bg-light icon-pinterest icon-circled icon-1x active"></i></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span5">
                <div class="widget">
                    <div class="map-container">
                        <img src="~/images/expressoo/digitalmarketingservicesinhyderabad.png" />
                    </div>
                    <div class="spacer30">
                    </div>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span5 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="span5 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="span5 form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="span5 form-group">
                                <textarea class="form-control" name="message" rows="2" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                                <div class="text-center">
                                    <button class="btn btn-color btn-rounded" type="submit">Send message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-link icon-3x active"></i>
                        <h4><strong>Brand communications</strong></h4>
                        <p>
                            A brand without a story and a voice is like a voice of a choir singer - important but lost in the chorus. We help your brand stand out with thoughtful dialogue with your target audiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-facebook icon-3x active"></i>
                        <h4><strong>Social Media Marketing</strong></h4>
                        <p>
                            As of today, anyone with a social media account has themselves a permanent seat at the marketing table. We help you use it like a magnet to draw customers into the buyer’s cycle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-play icon-3x active"></i>
                        <h4><strong>Inbound Marketing</strong></h4>
                        <p>
                            The best way to nurture leads is by building relationships: understanding your prospects’ motivations, and offering content they are interested in. With our inbound marketing services, your prospects will be eager to do business with you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-leaf icon-3x active"></i>
                        <h4><strong>Content Strategy & Creation</strong></h4>
                        <p>
                            Creating content without a consistent long-term plan and predetermined marketing goals are like throwing pamphlets of the rooftop. The chances of it being read by the intended people are slim. The chance of them generating the desired outcome are even slimmer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-globe icon-3x active"></i>
                        <h4><strong>Paid Advertising</strong></h4>
                        <p>
                            Being present at the right place at the right time makes all the difference. With paid advertising, you gain precise visibility among those who are actively seeking out answers related to your brand.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-search icon-3x active"></i>
                        <h4><strong>Search Engine Optimisation</strong></h4>
                        <p>
                            Without SEO you would be floating in the vast expanse of the internet. We ensure that your website looks, reads as well as functions great, while showings up with excellent rankings for relevant searches.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>