@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>SMM Services</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">SMM</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span7">
                <aside>
                    <div class="widget">
                        <p class="custom_font">
                            The most important factor in <b>Content Marketing</b> or/and Branding is to enact a relation between audience and brand and what better place to do it than Social Media Platforms with ever-increasing audience base.
                        </p>
                        <p class="custom_font">
                            <b>ExpressoO Labs</b> is the industry’s leading <b>social media management</b> agency and <b>digital marketing company in hyderabad</b> offering competitive <b>social media management</b> services which includes Brand Awareness, Lead generation, Sales Boost and creating a loyal Fan base for your Business.
                        </p>
                        <div class="custom_font">
                            <u> Platform based Social Media Marketing</u>
                            <ol>
                                <li>
                                    <b>Facebook</b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">
                                                Being worlds biggest Social Networking Platform, Facebook excels at Lead generation which is further used to Boost sales and Retargeting of your products.
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        Instagram
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">With the highest audience engagement rate, Instagram ads and post can link directly to a specific product page which results in genuine engagement with your products.</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        Twitter
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">
                                                Twitter is every brands 1st preference when it comes to Organic engagement. With 330 million and 134 million, monthly and daily users respectively, Twitter can heighten your Brand’s acceptance even higher with <b>paid ads</b>.
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        Linkedin
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">If the highest quality lead generation is your crucial demand then with Linkedin’s B2B market base and with our highly optimized ad strategies you can achieve adequate results in no time.</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        Snapchat
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">Being new yet making a mark in the Marketing industry with maximum reach and higher swipe up rate. Snapchat has multiple ways(ad style) to meet your Business requirements.</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        Pinterest
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">Once considered the fastest growing website, Pinterest is now treated to be the best platform for higher conversion rate and engagement rate for your business.</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        Youtube
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">
                                                The only best among the few <b>video marketing</b> platforms, Youtube is uncommonly good at capturing the attention of focused audience towards your business.
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>
                                        TikTok
                                    </b>
                                    <ul>
                                        <li>
                                            <p class="custom_font">TikTok is the most hyped social media platform and is still crude in Marketing business precisely aiming on younger and modern audience.</p>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                        <p class="custom_font">
                            With best in class <b>digital marketing services</b> <a href='@Url.Action("Contact", "Home")'>Contact us</a> to get your own personalised social media strategy.
                        </p>
                    </div>
                    <div class="widget">
                        <h4>Social network</h4>
                        <ul class="social-links">
                            <li><a href="#" title="Twitter"><i class="icon-bg-light icon-twitter icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Facebook"><i class="icon-bg-light icon-facebook icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Google plus"><i class="icon-bg-light icon-google-plus icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="icon-bg-light icon-linkedin icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Pinterest"><i class="icon-bg-light icon-pinterest icon-circled icon-1x active"></i></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span5">
                <div class="widget">
                    <div class="map-container">
                        <img src="~/images/expressoo/bestsocialmediamarketingservicescompanyinHyderabadindia.png" />
                    </div>
                    <div class="spacer30">
                    </div>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span5 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="span5 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="span5 form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="span5 form-group">
                                <textarea class="form-control" name="message" rows="2" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                                <div class="text-center">
                                    <button class="btn btn-color btn-rounded" type="submit">Send message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>