@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>Staffing Solutions</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">Staffing Solutions</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="testimonial_item" style="background-color: #31ad93">
            <p>ExpressoO Labs has established itself as a renowned name in the HR realm by providing wide range of recruitment and selection services to diverse companies. Our team of expert consultants is dedicated towards leveraging the business potential of our clients by offering strategic HR services. Moreover, our global presence in Asian, African, European and American markets gives us a benchmark to stand among one of the leading HR firms.</p>
        </div>
        <p class="custom_font">We partner with our clients to expand their business potential by providing solutions in Executive Search & Selection, Middle Management Hiring, Project Based Hiring and Recruitment Process Outsourcing through integrated suite of leadership services. With our decade long knowledge expertise in the domain we have been successfully able to deliver solutions for all kind of global and local business industry specific demands.</p>
        <p class="custom_font">At ExpressoO Labs, we have the ability to align diversified and intricate HR needs of our clients by providing reliable and strategic staffing solutions. By understanding the significance of aligning talent strategy with business strategy we tend to offer workforce solution that drive businesses forward. Our capability in fast delivery has gained us the reputation of being a reliable and efficient global executive search firm.</p>
        <div class="row">
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-group icon-3x active"></i>
                        <h4><strong>Who We Are?</strong></h4>
                        <p>
                            Over the years we have been fortunate to work with multiple organizations as preferred vendor partners for their hiring needs. We began with a well-defined objective of bridging the demand-supply gap in the recruitment industry by procuring the right people for our clients
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-hand-up icon-3x active"></i>
                        <h4><strong>Why Choose Us?</strong></h4>
                        <p>
                            We are an executive search Company with our primary focus on search and recruitment of Topnotch professionals at Senior management level across industries. Since then, we have been providing Recruitment solutions across industry verticals to the IT and Non IT companies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-anchor icon-3x active"></i>
                        <h4><strong>What We Do?</strong></h4>
                        <p>
                            We provide quick and painless hiring services to companies of all sizes in multiple domains, resulting in immediate improvement in productivity, and hassle-free induction of new employees. ExpressoO Labs provides the whole range of solutions related to recruitment, staffing needs of a company.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>