<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>
                    <strong>Our company</strong>
                </h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">About us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        @*<h2>Our company</h2>*@
        <p class="custom_font">Expressoo Labs is an Information Technology company with expertise in Software Development, Website &amp; Web Application Development and Mobile Application Solutions, was established by experienced and expert professionals of the field. Expressoo Labs is founded by IT professionals with diverse backgrounds and exposure to wide industry verticals and technology practices. Our resources are the talented people and it is our ASSETS.</p>
        <p class="custom_font">We deal with Customized Software Development, Implementation support and Quality Assurance. We are focused on delivering customized application software solutions in client/server platform and in web domain. We provide our clients with the exact tailor-made software solutions that will meet their specific business requirements and focused on changing the way our clients think about the web. Our apps are business-driven, user-focused, and highly innovative.</p>
        <div class="col-md-6">
            <h3>Our Vision</h3>
            <p class="custom_font">
                <i class="sprite vision"></i>Our vision is to make Expressoo Labs a global brand in the IT Infrastructure management space. We will achieve this by being a collaborative partner to our customers and help them align their business and IT needs. In that process we will enable them to effectively and efficiently leverage on their technology investments.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p class="custom_font">
                <i class="sprite mission"></i>To deliver and maintain the most appropriate and cost efficient technology solutions without compromising performance or reliability.Our portfolio of systems and services provides our customers with cost effective and resilient business computing solution with extended technical support from a single service provider.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="solid_line">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-group icon-3x active"></i>
                        <h4><strong>Best</strong> team</h4>
                        <p>
                            We are a team of experienced software experts who are dedicated to deliver quality projects. We have a dedicated team of technologists who can understand all your software needs and transform them into wonderful software product.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-rocket icon-3x active"></i>
                        <h4><strong>High</strong> dedication</h4>
                        <p>
                            We are always looking ahead to stay on top of the latest design & technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-heart icon-3x active"></i>
                        <h4><strong>Work</strong> with heart</h4>
                        <p>
                            We promise that the projects that are designed and developed by us will be the best with industry standards and will be built using high end technologies and will be delivered ahead of committed, scheduled time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
