<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>ExpressoO Blog</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span4">
                <aside>
                    <div class="widget">
                        <h4>Search widget</h4>
                        <form class="form-search">
                            <input placeholder="Type something" type="text" class="input-medium search-query">
                            <button type="submit" class="btn btn-flat btn-color">Search</button>
                        </form>
                    </div>
                    <div class="widget">
                        <h4>Video widget</h4>
                        <div class="video-container">
                        </div>
                    </div>
                    <div class="widget">
                        <h4>Categories</h4>
                        <ul class="cat">
                            <li class="active"><a href="#">Google's BERT (1)</a></li>
                            <li><a href="#">Case studies (4)</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Recent posts</h4>
                        <ul class="recent-posts">
                            <li>
                                <a href="#"><img src="~/images/dummies/Foodpanda.png" alt="" /> How Foodpanda used social media during Women’s Day marketing activity</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                            </li>
                            <li>
                                <a href="#"><img src="~/images/dummies/ReduceFoodWastage.png" alt="" /> How The Ministry of Food Processing (G.O.I) spread awareness about World Food India through social media platforms?</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                            </li>
                            <li>
                                <a href="#"><img src="~/images/dummies/Rol-a-Cola.jpg" alt="" /> Parle’s 90s rager – Rol-a-Cola</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 19 February, 2020</span>
                            </li>
                            <li>
                                <a href="#"><img src="~/images/dummies/NapNap.jpg" alt="" /> How NapNap reached 1.7 lakh users organically</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 3 March, 2013</span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Tags</h4>
                        <ul class="tags">
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Tricks</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Online</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span8">
                <!-- start article 5 -->
                <article class="blog-post">
                    <div class="post-gallery">
                        <!-- start flexslider -->
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/dummies/GoogleLatestBERTAlgorithm.PNG" alt="Google latest BERT algorithm" />
                                </li>
                                <li>
                                    <img src="~/images/dummies/SEOWithBERTAlgorithm.PNG" alt="SEO with BERT algorithm" />
                                </li>
                                <li>
                                    <img src="~/images/dummies/GoogleBERTAlgorithmUpdate.PNG" alt="Google BERT algorithm update" />
                                </li>
                            </ul>
                        </div>
                        <!-- end flexslider -->
                    </div>
                    <div class="post-heading">
                        <h3><a href="#">Google’s BERT update</a></h3>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <div class="post-icon">
                                <i class="icon-bg-dark icon-circled icon-picture icon-3x active"></i>
                            </div>
                            <ul class="post-meta">
                                <li class="first"><i class="icon-calendar"></i><span>February 22, 2020</span></li>
                                @*<li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>*@
                                <li class="last"><i class="icon-tags"></i><span><a href="#">BERT</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="span5">
                            <p style="word-wrap: break-word;white-space: normal;">
                                Google’s BERT update is one of the biggest headway for search engines in the last 5 years according to google. Let's see what enhancement it will bring form the user end.
                                Bert, which stands for Bidirectional Encoder Representations from Transformers, is one of the important updates for users because it deals with understanding the exact meaning of a word by looking at the words after and before it in the long tail Keywords.
                                This development was the result of Google’s Research on models that takes words in relation to other words in the same query rather than considering each word separately in the same query. Although this update will be used for only 10% of searches as it is so complex that it outdoes google's hardware. Even though it will be used in 1 out of 10 searches, it will affect the search rankings.
                                Here are some examples of BERT in action..
                            </p>

                            <p><strong>DO YOU NEED TO CHANGE YOUR SEO STRATEGY ?</strong></p>
                            <p>
                                The answer here is YES. BERT update may be used on 10% of searches but it will affect your site even though it won't affect your traffic.
                            </p>
                            <p>
                                <strong>
                                    WHAT CAN YOU DO TO OPTIMIZE ?
                                </strong>
                            </p>
                            <p>
                                Write Content for Users - According to Google’s public Search Liaison, the answer is “Nothing New”. If you are writing quality content which is user focused then you are already there. Try to understand User’s intent and writing content accordingly will ensure your high SERP rankings by google.
                                It's all about answering user queries. It doesn't matter if your article is long or not as long as it connects with user and answering user queries as quickly as possible, you are safe. Google gives higher priority and better ranking to informational keywords so be very specific and try to answer the question better than your competitors.
                                Featured Snippets
                                Another feature of BERT update is focused on featured snippets.
                                Featured snippets are basically known as “answer boxes” where users will get answers to some queries directly in the SERP page itself  with a link below further connecting to extra information which may or maynot be of an user interest.
                            </p>
                        </div>
                    </div>
                </article>
                <!-- end article 5 -->
            </div>
        </div>
    </div>
</section>
