<section id="intro">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3><strong>Our Story</strong>
                </h3>
                <p class="lead">
                    ExpressoOlabs was founded after years of working in the business disruption and Consulting industry.
                </p>
                <p class="lead">
                    Our goal is to help turn ideas and visions into successful companies. As a results-driven organization, we are constantly looking for ambitious and visionary partners with the drive and flexibility to take their company to the next level with our cutting edge support.
                </p>
                <ul class="list list-ok strong bigger">
                    <li>100% satisfied,esteemed clients in the country and abroad</li>
                    <li>Digital Transformation. Simplified.</li>
                    <li>Innovation with Customer First Mindset</li>
                </ul>
            </div>
            <div class="span6">
                <div class="group section-wrap upper" id="upper">
                    <div class="section-2 group">
                        <ul id="images" class="rs-slider">
                            <li class="group">
                                <a href="#" class="slide-parent">
                                    <img src="~/images/slides/refine/DigitalMarketing.jpg" />
                                </a>
                            </li>
                            <li class="group">
                                <img src="~/images/slides/refine/IT-Staffing.png" />
                            </li>
                            <li class="group">
                                <a href="#">
                                    <img src="~/images/slides/refine/OperationsManag.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.section-2 -->
                </div>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="features">
                    <div class="icon">
                        <i class="icon-bg-light icon-circled icon-code icon-5x active"></i>
                    </div>
                    <div class="features_content">
                        <h3>Valid Coding</h3>
                        <p class="left">
                            In order to be irreplaceable, one must always be different.
                        </p>
                        <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="features">
                    <div class="icon">
                        <i class="icon-bg-dark icon-circled icon-bug icon-5x"></i>
                    </div>
                    <div class="features_content">
                        <h3>Bug free</h3>
                        <p class="left">
                            There are two ways to write error-free programs; only the third one works.
                        </p>
                        <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="features">
                    <div class="icon">
                        <i class="icon-bg-dark icon-circled icon-android icon-5x"></i>
                    </div>
                    <div class="features_content">
                        <h3>Mobile ready</h3>
                        <p class="left">
                            Before software can be reusable it first has to be usable.
                        </p>
                        <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- blank divider -->
        <div class="row">
            <div class="span12">
                <div class="blank10"></div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <h4>What people say about us</h4>
                <div class="testmonial_slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonial_item">
                                <p>
                                    "On time delivery is the one for which, I always admired to think about ExpressoO on each and every project we handled."
                                </p>
                                <span class="author">Sudeep</span>
                                <span class="occupation">Marketing Head, SUNAMI</span>
                                <!-- end testmonial -->
                            </div>
                        </li>
                        <li>
                            <div class="testimonial_item">
                                <p>
                                    "Efficient service with zero hour downtime, thats what ExpressoO Labs to me."
                                </p>
                                <span class="author">Sharad Sharma</span>
                                <span class="occupation">Director, Cabby Cabs</span>
                                <!-- end testmonial -->
                            </div>
                        </li>
                        <li>
                            <div class="testimonial_item">
                                <p>
                                    "Understanding each business domain is hard. when it comes to ExpressoO Labs, it's not a coin when tossed , it's the result all we believe in"
                                </p>
                                <span class="author">Shekar Guptha</span>
                                <span class="occupation">CEO, ExpressoO Labs</span>
                                <!-- end testmonial -->
                            </div>
                        </li>
                    </ul>
                    <!-- end testmonial slider -->
                </div>
                <div class="blank"></div>
                <h4>Our satisfied clients</h4>
                <ul class="clients">
                    <li>
                        <a href="#">
                            <img src="~/images/dummies/clients/client1.png" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/images/dummies/clients/client2.png" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/images/dummies/clients/client3.png" class="client-logo" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="span6">
                <h4>Our services</h4>
                <!-- start: Accordion -->
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                <i class="icon-caret-down"></i> Digital Marketing & Social media optimization
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                ExpressoO Labs are thought leaders in digital marketing solutions and provide you with customized solutions for all your digital requirements. Our strategic planning and careful execution around digital marketing services has resulted in happy customers around the globe.
                                <p>ExpressoO Labs offers Social Media Optimization (SMO) services. These SMO services are dedicated to helping companies create a focused and driven perspective as smart marketing is required. In recent years, social network marketing has grown to be a very powerful online marketing tool for creating awareness through effective Social Media Optimization (SMO).</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                <i class="icon-caret-right"></i> Web design and development
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                ExpressoO Labs, a web design company go hand in hand with the client to understand their requirements. Right from requirements gathering to website hosting, we closely follow each stage of the website development life cycle, keeping our clients informed at every stage. And, we ensure your business websites are SEO-friendly while developing them.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <i class="icon-caret-right"></i> Staffing solutions
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                ExpressoO Labs has a dedicated team that works relentlessly round the clock, to bring the best candidates into the selection arena of the corporate world. Our staffing solutions are unparalleled in India, being specifically intended to suit your desired qualifications of applicants as per your set budget. As a result, the whole procedure of recruitment is smooth and relatively easy for the selectors, thereby saving their precious time and money too.
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Accordion -->
            </div>
        </div>

    </div>
</section>